<% include ../partials/header %>
<% include ../partials/menu %>
<%
if (player_ids){
	var name = [];
	var year = [];
	var major = [];
	var rshyd = [];
	var pasyd = [];
	var recyd = [];
	var avgp = [];
	var avgrsh = [];
	var avgrec = [];
	var gp = [];
	var id = [];
	var i = 0;
	var k = 0;
	var l = 0;
	player_ids.forEach(function(item){
		name[i] = item.name;
		i++;
	});
	player_info.forEach(function(player){
		year[k] = player.year;
		rshyd[k] = player.rushing_yards;
		pasyd[k] = player.passing_yards;
		recyd[k] = player.receiving_yards;
		major[k] = player.major;
		k++;
	});
	games_played.forEach(function(play){
		gp[l] = play.ct;
		l++;
	});
	for (var a = 0; a < 10; a++){
		avgp[a] = pasyd[a]/gp[a];
		avgrsh[a] = rshyd[a]/gp[a];
		avgrec[a] = recyd[a]/gp[a];
	}
}%>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-4">
				<div class="card">
				<!-- TODO: Modify the ejs code below, to conditionally set the image_src to be from our chosen player -->
				  <% 
				  if (player_id == 0){
				  	var image_src = '../resources/img/helmet.jpg';
				  } 
				  else{
				  	var image_src = '../resources/img/player' + player_id + '.jpg';
				  } %>
				  
				 <img class="card-img-top" id="player_img" src= "<%- image_src %>" alt="Image of Football Player">
				  <div class="card-body mx-auto">
					<form class="form"action="/player_info/select_player" method="get">
						<select class="custom-select" name="player_choice" onchange="this.form.submit()" id="ply">
							 <option selected value = "0">Select Player</option>
							 <% 
							 for (var j = 0; j < 10; j++){ %>
							 	<option value = "<%- j+1%>"><%-name[j]%></option>
						   <%}%>
							 <!-- TODO: Populate our select with player options
							 			For each player, set a new option with a value matching the palyer's id, 
							 			but will display the player's name-->
						</select>
					</form>
				  </div>
				</div>
			</div>
			<div class="col-8">
				<div class="table-responsive">
					<table class="table">
						<tr>
							

							<!-- TODO: Set Player Information
							 			If a player has been selected, fill in their information in each of the fields below.
							 		    You'll need to calculate here the player's average rushing, receiving, and passing yards.-->
					<%
					if (player_id){%>

							<th>Year</th>
							<td><%-year[player_id-1]%></td>
						</tr>
						<tr>
							<th>Major</th>
							<td><%-major[player_id-1]%></td>
						</tr>
						<tr>
							<th>Games Played</th>
							<td><%-gp[player_id-1]%></td>
						</tr>
						<tr>
							<td>Passing Yards: <%-pasyd[player_id-1]%></td>
							<td>Avg. Passing Yards: <%-avgp[player_id-1].toPrecision(3)%></td>
						</tr>
						<tr>
							<td>Rushing Yards: <%-rshyd[player_id-1]%></td>
							<td>Avg. Rushing Yards: <%-avgrsh[player_id-1].toPrecision(3)%></td>
						</tr>
						<tr>
							<td>Receiving Yards: <%-recyd[player_id-1]%></td>
							<td>Avg. Receiving Yards: <%-avgrec[player_id-1].toPrecision(3)%></td>
						</tr>
				  <%}%>

				  <%
				  if (!player_id){%>

						  	<th>Year</th>
						  	<td></td>
						  </tr>
						  <tr>
						  	<th>Major</th>
						  	<td></td>
						  </tr>
						  <tr>
						  	<th>Games Played</th>
						  	<td></td>
						  </tr>
						  <tr>
						  	<td>Passing Yards: </td>
						  	<td>Avg. Passing Yards:</td>
						  </tr>
						  <tr>
						  	<td>Rushing Yards: </td>
						  	<td>Avg. Rushing Yards: </td>
						  </tr>
						  <tr>
						  	<td>Receiving Yards: </td>
						  	<td>Avg. Receiving Yards: </td>
						  </tr>
				<%}%>
					</table>
				</div>
			</div>
		</div>
	</div>
  
<% include ../partials/footer %>